.container {
  padding: 3rem;
  margin: 3rem auto;
  font-size: 1.6rem;
}

.box {
  height: 10px;
  display: block;
  background-color: red;
}

.message-error {
  background-color: red;
  color: white;
  padding: 0.3rem;
  opacity: 0;
  transition: all linear .5s;
}

.message-error.show {
  opacity: 1;

}
